# Environment files
.env
.env.*
.env-docker/

# Secrets
secrets/
google_sheets_key.json
google_sheet_id.json

# TLS certs/keys
certs/
*.crt
*.key

# Python
__pycache__/
*.pyc
.venv/

# Django
staticfiles/
media/

# Docker
postgres_data/
nginx.conf

# Pytest coverage runner config file
pytest.ini
.coveragerc
.pytest_cache
*.VSCodeCounter/

# Production config
ntfy/server.yml
nginx.prod.conf

# ENV-specific Docker-compose files
docker-compose.dev.yml
docker-compose.ci.yml
