PYTHONUNBUFFERED=1

DEBUG=False

DJANGO_ALLOWED_HOSTS=

GOOGLE_SHEETS_CREDENTIALS_PATH=/app/secrets/google_sheets_key.json
GOOGLE_SHEET_ID_PATH=/app/secrets/google_sheet_id.json

POSTGRES_USER_FILE=/run/secrets/postgres_user.txt
POSTGRES_PASSWORD_FILE=/run/secrets/postgres_password.txt
POSTGRES_DB_FILE=/run/secrets/postgres_db.txt